*{
  margin: 0;
  padding: 0;
}
body{
  overflow-y: scroll;
  overflow-x: hidden;
}
.header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(mini.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.hero-text{
  color: white;
  text-transform: uppercase;
  margin-bottom: 90px;
}
.btn{
  padding: 10px 30px;
  border: 2px solid #e67e22;
}
.header img{
  margin-bottom: 80px; 
}
.header-buttons a{
  border: 2px solid #e67e22;
  padding: 10px 30px; /*top rigt (10px) bottom left(30px)*/
  margin-right: 6px;
  color: white;
  transition: all 0.5s ease-in;
}
.header-buttons a.btn-full{
  background-color: #e67e22;
  color: white;
}
.header-buttons a.btn-half:hover{
  background-color: #e67e22;
  color: white;
}
